<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>
    BBANNER BOT | Home
  </title>
  <link rel="icon" 
      type="image/png" 
      href="{{ data['avatar'] }}">
  <link href="/static/style.css" rel="stylesheet" type="text/css" />
  <!--
    - google font link
  -->
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap" rel="stylesheet">
</head>

<body>
  <main>


    <aside class="sidebar" data-sidebar>

      <div class="sidebar-info">

        <figure class="avatar-box">
          <img src="{{ data['avatar'] }}" width="80">
        </figure>

        <div class="info-content">
          <h1 class="name" title="Hafid">BBANNER BOT</h1>

          <p class="title">
            BBAN THOSE USERS
          </p>
        </div>

        <button class="info_more-btn" data-sidebar-btn>
          <span>Show stats</span>

          <ion-icon name="chevron-down"></ion-icon>
        </button>

      </div>

      <div class="sidebar-info_more">

        <div class="separator"></div>

        <ul class="contacts-list">

          <li class="contact-item">

            <div class="icon-box">
              <ion-icon name="add-circle-outline"></ion-icon>
            </div>

            <div class="contact-info">
              <p class="contact-title">Guilds</p>

              <p class='contact-link'>{{ data["guilds"] }}</p>
            </div>

          </li>

          <li class="contact-item">

            <div class="icon-box">
              <ion-icon name="body-outline"></ion-icon>
            </div>

            <div class="contact-info">
              <p class="contact-title">Owner</p>

               <name class='contact-link'>Raadsel</name>
            </div>

          </li>

          <li class="contact-item">

            <div class="icon-box">
              <ion-icon name="location-outline"></ion-icon>
            </div>

            <div class="contact-info">
              <p class="contact-title">Location</p>

              <address>Holland</address>
            </div>

          </li>

        </ul>

        <div class="separator"></div>

        
      </div>

    </aside>

    <div class="main-content">
      <nav class="navbar">

        <ul class="navbar-list">

          <li class="navbar-item">
            <a href="{{ data['invite'] }}" target="_blank">
              <button role="button" class="navbar-link  active" >Invite</button>
            </a>
          </li>


        </ul>

      </nav>

      <article class="about  active" data-page="about">

        <header>
          <h2 class="h2 article-title">About me</h2>
        </header>

        <section class="about-text">
          <p>
            Some time ago I was in a Discord server where a user spammed and acted inappropriatly, after that he left. And the mods couldn't ban him! So I developed this bot to ban users who aren't in your server. It has a list and when a user joins the server it checks the list. If the userID of that user is in the list it bans the user. It even supports ban reason and tempbans!</p>
          <p>
            You can see all the commands when you run the <code>/help</code> command, but here are some of the most important commands:
          <ul>
            <li>
              <code>/bban</code> - The main command, Bans a user from your guild, even if they aren't in your server!
            </li>
            <li>
              <code>/set_log_channel</code> - Set the channel to log messages of the bot. Here will all logs from the bot go.
            </li>
            <li>
              <code>/listbban</code> - Gets a list of all the bbanned users.
            </li>
          </ul>
          </p>
          <a href="{{ data['invite'] }}" target="_blank">
          <invite role='button center'>Invite the bot</invite>
          </a>
        </section>

      </article>
    </div>

  </main>

  <script type="text/javascript">
    const elementToggleFunc = function (elem) { elem.classList.toggle("active"); }
    const sidebar = document.querySelector("[data-sidebar]");
    const sidebarBtn = document.querySelector("[data-sidebar-btn]");
    sidebarBtn.addEventListener("click", function () { elementToggleFunc(sidebar); });
    const select = document.querySelector("[data-select]");
    const selectItems = document.querySelectorAll("[data-select-item]");
    const selectValue = document.querySelector("[data-selecct-value]");
    const filterBtn = document.querySelectorAll("[data-filter-btn]");

    select.addEventListener("click", function () { elementToggleFunc(this); });
    for (let i = 0; i < selectItems.length; i++) {
      selectItems[i].addEventListener("click", function () {

        let selectedValue = this.innerText.toLowerCase();
        selectValue.innerText = this.innerText;
        elementToggleFunc(select);
        filterFunc(selectedValue);

      });
    }
    const filterItems = document.querySelectorAll("[data-filter-item]");

    const filterFunc = function (selectedValue) {

      for (let i = 0; i < filterItems.length; i++) {

        if (selectedValue === "all") {
          filterItems[i].classList.add("active");
        } else if (selectedValue === filterItems[i].dataset.category) {
          filterItems[i].classList.add("active");
        } else {
          filterItems[i].classList.remove("active");
        }

      }

    }
    let lastClickedBtn = filterBtn[0];

    for (let i = 0; i < filterBtn.length; i++) {

      filterBtn[i].addEventListener("click", function () {

        let selectedValue = this.innerText.toLowerCase();
        selectValue.innerText = this.innerText;
        filterFunc(selectedValue);

        lastClickedBtn.classList.remove("active");
        this.classList.add("active");
        lastClickedBtn = this;

      });

    }
    const navigationLinks = document.querySelectorAll("[data-nav-link]");
    const pages = document.querySelectorAll("[data-page]");
    for (let i = 0; i < navigationLinks.length; i++) {
      navigationLinks[i].addEventListener("click", function () {

        for (let i = 0; i < pages.length; i++) {
          if (this.innerHTML.toLowerCase() === pages[i].dataset.page) {
            pages[i].classList.add("active");
            navigationLinks[i].classList.add("active");
            window.scrollTo(0, 0);
          } else {
            pages[i].classList.remove("active");
            navigationLinks[i].classList.remove("active");
          }
        }

      });
    }
  </script>
  <script type="module" src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com/ionicons@5.5.2/dist/ionicons/ionicons.js"></script>
</body>
</html>